
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pywebview-template</title>

    <link rel="stylesheet" href="assets/vendor/normalize.css/normalize.css" />
    <link rel="stylesheet" href="assets/css/app.css" />

    <script src="assets/vendor/socket.io/client-dist/socket.io.js"></script>

    <script type="module" src="assets/js/app.js"/></script>
</head>

<body>
    <header>
        <ul>
            <li><a name="log-menu" href="#">Log</a></li>
        </ul>
    </header>

    <main>
        <nav>
            <a class="button green" href="javascript:;">Start</a>  
            <a class="button blue" href="javascript:;">Check Status</a>  
            <a class="button blue" href="javascript:;">Restart</a>  
            <a class="button red" href="javascript:;">Stop</a>  
        </nav>

        <article>
            Canvas
        </article>

        <aside>
            Logging
        </aside>
    </main>

    <footer>
        Status stuff
    </footer>

</body>
</html>